<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tender">
            <h2><span>Tender</span> {{tender.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Tender Type</span></dt>
                <dd>
                    <div *ngIf="tender.tenderType">
                        <a [routerLink]="['/tender-type', tender.tenderType?.id, 'view']">{{tender.tenderType?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tender', tender.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
