<div>
    <h2 id="page-heading">
        <span>Items</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-item" [routerLink]="['/item/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="items">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Article Nr</span></th>
            <th><span>Article Name</span></th>
            <th><span>Prime Cost</span></th>
            <th><span>Price</span></th>
            <th><span>Available For Sale</span></th>
            <th><span>Scale Item</span></th>
            <th><span>Ean</span></th>
            <th><span>Account Rest</span></th>
            <th><span>Rest</span></th>
            <th><span>Low Rest</span></th>
            <th><span>Parent Item</span></th>
            <th><span>Parent Item</span></th>
            <th><span>Item Category</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of items ;trackBy: trackId">
                <td><a [routerLink]="['/item', item.id, 'view' ]">{{item.id}}</a></td>
                <td>{{item.articleNr}}</td>
                <td>{{item.articleName}}</td>
                <td>{{item.primeCost}}</td>
                <td>{{item.price}}</td>
                <td>{{item.availableForSale}}</td>
                <td>{{item.scaleItem}}</td>
                <td>{{item.ean}}</td>
                <td>{{item.accountRest}}</td>
                <td>{{item.rest}}</td>
                <td>{{item.lowRest}}</td>
                <td>{{item.parentItem}}</td>
                <td>
                    <div *ngIf="item.parentItem">
                        <a [routerLink]="['../item', item.parentItem?.id, 'view' ]" >{{item.parentItem?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="item.itemCategory">
                        <a [routerLink]="['../item-category', item.itemCategory?.id, 'view' ]" >{{item.itemCategory?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/item', item.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/item', item.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'item/'+ item.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
